<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941593465249-h97mnargpb3ldbqsqujg6l5urov7hrr5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941593465249-h97mnargpb3ldbqsqujg6l5urov7hrr5</string>
	<key>API_KEY</key>
	<string>AIzaSyAh3ITp9wZgX__qD-kWH0b49UE9Jq-T1HE</string>
	<key>GCM_SENDER_ID</key>
	<string>941593465249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weChat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>wechat-32170</string>
	<key>STORAGE_BUCKET</key>
	<string>wechat-32170.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941593465249:ios:3b3d6d6283656212493be0</string>
</dict>
</plist>